/* main parts of the page */

body {
    display: flex;
    flex-direction: column;
    background-color: beige;   
    align-items: center;
}

h1 {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 100;
    font-size: 75px;
    margin: 0px;
}

header {
    margin-top: 0px;
    width: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    padding-bottom: 10px;
    border-radius: 15px;
}


footer {
    font-family: Cairo Play;
    font-weight: light;
    color: rgb(94, 94, 94);
    margin-top: 15px;
}

/* containers */


.container {
    border: solid 5px #FF3DAF;
    display: flex;
    width: 600px;
    height: 600px;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
}

.inputContainer {
    font-size: large;
    display: flex;
    justify-content: space-between;
    border: 5px solid #FF7A5E;
    width: 600px;
    padding: 10px;
    margin-top: 20px;
    background-color: #FFFFB2;
    margin-bottom: 20px;
    border-radius: 15px;
}

/* sketchboard */

.row {
    width: auto;
    flex-grow: 1;
    display: flex;
}

.square {
    width: auto;
    flex-grow: 1;
    margin: 0.5px;    
    background-color: whitesmoke;
    border-radius: 5px;
}

.blackBackground {
    background-color: black;
}


/* interactable elements */


.inputInteract {
    display: flex;
    align-items: center;
}

label {
    font-family: Cairo Play;
}

.black {
    background-color: black;
}

#input {
    font-family: Cairo Play;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 5px;

}

.reset,
.btnGo {
    font-family: Cairo Play;
    font-weight: bolder;
    font-size: 15px;
    background-color: #FFEC6C;
    border-radius: 5px;
}
.reset:hover,
.btnGo:hover {
    font-family: Cairo Play;
    font-weight: bolder;
    font-size: 15px;
    background-color: #ff44a4;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    color: white;
}
