body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 100;
    font-size: 75px;
    margin: 0px;
}

header {
    margin-top: 0px;
    border: 1px solid black;
    width: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    border: solid 1px black;
    display: flex;
    width: 600px;
    height: 600px;
    flex-direction: column;
    padding: 10px;
}

.row {
    /* border: solid 1px black; */
    width: auto;
    flex-grow: 1;
    display: flex;
}

.square {
    border: solid 1px black;;
    width: auto;
    flex-grow: 1;
    margin: 0.5px;    

}

.black {
    background-color: black;
}

.inputContainer {
    font-size: large;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 600px;
    padding: 10px;
    margin-top: 20px;
}

.inputInteract {
    display: flex;
    align-items: center;
}

label {
    font-family: Cairo Play;

}

.black {
    background-color: black;
}